<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="sidebar-brand-text mx-3">Ataskwallet</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item <%=  current_page?(dashboard_path) ? 'active' : '' %>">
    <a class="nav-link" href="<%= dashboard_path %>">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span>
    </a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading - Transactions -->
  <div class="sidebar-heading">
    Transactions
  </div>

  <!-- Nav Items -->
  <li class="nav-item <%=  current_page?(deposit_transactions_path) ? 'active' : '' %>">
    <a class="nav-link" href="<%= deposit_transactions_path %>">
      <i class="fas fa-fw fa-money-bill-alt"></i>
      <span>Deposit</span></a>
  </li>

  <li class="nav-item <%=  current_page?(withdraw_transactions_path) ? 'active' : '' %>">
    <a class="nav-link" href="<%= withdraw_transactions_path %>">
      <i class="fas fa-fw fa-money-bill-alt"></i>
      <span>Withdraw</span></a>
  </li>

  <li class="nav-item <%=  current_page?(transfer_transactions_path) ? 'active' : '' %>">
    <a class="nav-link" href="<%= transfer_transactions_path %>">
      <i class="fas fa-fw fa-money-bill-alt"></i>
      <span>Transfer</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading - Transactions -->
  <div class="sidebar-heading">
    Stocks
  </div>

  <!-- Nav Items -->
  <li class="nav-item <%=  current_page?(stocks_path) ? 'active' : '' %>">
    <a class="nav-link" href="<%= stocks_path %>">
      <i class="fas fa-fw fa-coins"></i>
      <span>Stocks List</span></a>
  </li>

  <!-- Nav Items -->
  <li class="nav-item <%=  current_page?(prices_stocks_path) ? 'active' : '' %>">
    <a class="nav-link" href="<%= prices_stocks_path %>">
      <i class="fas fa-fw fa-coins"></i>
      <span>Stock Prices</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>
<!-- End of Sidebar -->